html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

footer, header, main, nav {
    display: block
}

[hidden] {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active, a:hover {
    outline-width: 0
}

b {
    font-weight: inherit
}

b {
    font-weight: bolder
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

img {
    border-style: none
}

code {
    font-family: monospace, monospace;
    font-size: 1em
}

[type=reset], [type=submit], html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

@media screen {
    * {
        box-sizing: border-box
    }
    html {
        font: 18px/24px "Crimson Text", serif;
        color: #676767
    }
    a {
        color: #c72e2e;
        text-decoration: none
    }
    a:hover {
        text-decoration: underline
    }
    h1, h2, h3, h4, h5, h6 {
        color: #000
    }
    h1 {
        text-align: center;
        font-size: 36px;
        margin-bottom: 24px;
        line-height: 48px;
        font-weight: 400
    }
    h2 {
        font-size: 27px;
        margin-bottom: 24px;
        line-height: 48px;
        font-weight: 400
    }
    #wrap {
        max-width: 1100px;
        margin: auto;
        padding: 0 .625%;
        position: relative
    }
    #wrap {
        padding-bottom: 48px
    }
    ::-webkit-input-placeholder {
        font-style: italic
    }
    ::-moz-placeholder {
        font-style: italic
    }
    :-ms-input-placeholder {
        font-style: italic
    }
    :-moz-placeholder {
        font-style: italic
    }
    nav .navigation, nav ul {
        list-style: none;
        padding: 0
    }
    .item-pagination.navigation {
        border-top: 1px solid #dedede;
        padding-top: 11px;
        display: flex;
        justify-content: space-between
    }
    header nav .navigation {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        padding: 5px 0;
        margin: 24px 0
    }
    header nav li {
        display: block;
        margin: 0 .5em
    }
    header nav li ul {
        display: none
    }
    header nav a {
        font-size: 15.75px
    }
    header a {
        text-decoration: none
    }
    .site-title {
        font-size: 27px;
        text-transform: uppercase;
        letter-spacing: .125em;
        margin: 48px 0 0;
        display: block;
        text-align: center
    }
    .site-title:hover {
        text-decoration: none
    }
    .site-title img {
        max-height: 72px;
        max-width: 100%
    }
    #content .blocks {
        width: 100%
    }
    #content .blocks>h2:first-of-type {
        text-align: center;
        font-size: 30px;
        margin-bottom: 24px;
        line-height: 48px;
        font-weight: 400
    }
    footer {
        margin-top: 48px;
        clear: both
    }
    .pagination {
        float: right
    }
    .pagination>* {
        display: inline-block;
        vertical-align: top
    }
    .pagination form {
        margin-right: 12px
    }
    [name=page] {
        width: 72px;
        text-align: center
    }
    .browse .item-img a {
        display: block
    }
    .page .site-page-pagination {
        border-top: 1px solid #dedede;
        padding-top: 11px;
        margin-top: 48px;
        width: 100%
    }
    .page .site-page-pagination a:last-child:not(:only-child) {
        margin-left: 24px
    }
    .page #content {
        display: flex;
        flex-wrap: wrap
    }
    .page #content .blocks:first-child {
        width: 100%
    }
    .page.browse .pagination {
        margin-left: auto
    }
}

@media screen and (max-width:640px) {
    #wrap, footer {
        padding: 0 24px
    }
    .pagination-nav {
        width: 100%;
        text-align: center;
        padding: 5px 0 6px;
        border-bottom: 1px solid #dedede
    }
    .pagination-nav ul {
        margin: 0
    }
    .site-title, header>h1 {
        margin: 6px 0;
        line-height: 36px
    }
    .site-title img {
        max-height: 24px;
        max-width: calc(100% - 42px)
    }
    header nav .navigation {
        justify-content: center;
        margin: 12px 0
    }
    #content>h2 {
        margin: 12px 0
    }
    footer {
        margin: 24px 0;
        padding: 0
    }
    .browse .records {
        padding: 24px 0
    }
}

@font-face {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    src: local('Crimson Text Italic'), local('CrimsonText-Italic'), url(https://fonts.gstatic.com/s/crimsontext/v10/wlpogwHKFkZgtmSR3NB0oRJfajhRK_Y.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 700;
    src: local('Crimson Text Bold Italic'), local('CrimsonText-BoldItalic'), url(https://fonts.gstatic.com/s/crimsontext/v10/wlprgwHKFkZgtmSR3NB0oRJfajDqDuNS_LU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    src: local('Crimson Text Regular'), local('CrimsonText-Regular'), url(https://fonts.gstatic.com/s/crimsontext/v10/wlp2gwHKFkZgtmSR3NB0oRJfbwhT.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    src: local('Crimson Text Bold'), local('CrimsonText-Bold'), url(https://fonts.gstatic.com/s/crimsontext/v10/wlppgwHKFkZgtmSR3NB0oRJX1C1GDNNQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}